/logs/dbt.log
/venv/
/.env
venv/
swiggy/target/
swiggy/logs/
swiggy/dbt_packages/
swiggy/dbt_internal_packages/
.idea/
.vscode/
*.pyc
__pycache__/
*.log
/venv/Scripts/*
/venv/Scripts/
.env
/venv/Scripts/dotenv.exe
/delivery-connector.json
/orders-connector.json
/snowflake_key.p8
/snowflake_key.pub
/snowflake_private_key.p8
/snowflake_public_key.pub